<!DOCTYPE html>
<html>
<head>
<body style="padding-left:50px">
<h4>Student Code Of Conduct</h4> 
<ul>
<b>STUDENT ATTENDANCE</b>
<li>
If a student has to be absent for any reason, he has to take prior approval filling in the form that is available with the Centre.
Students are expected to attend the lectures and practical sessions regularly.
</li>
<li>
A minimum 75% attendance is mandatory to appear for the final examinations.
</li>
<li>
Any student being absent without prior information for more than 7 days his and after 30 days the admission will be considered as cancelled.
</li>
<li>
Any student taking a break/leave can do so with prior permission of the center manager and will provide a commitment, in writing, as to when he/she would rejoin the course.
</li>
<li>
In case the student takes a break of more than 2 months, the student will have to take readmission by paying the readmission fee applicable at that time.
</li>
</ul>
<ul>
<b>UPGRADE/DOWNGRADE OF COURSE</b>
<li>
Students can upgrade their current enrolled course by paying additional fees, however it is surely decision of management.
</li>
<li>
In no circumstances the student will be allowed to downgrade his/her course.
</li>
<li>
In case a student is unable to complete the course for which he/she was enrolled for, they will not be issued any certificate for a shorter duration.
</li>
</ul>
<ul>
<b>BATCH TRANSFER</b>
<li>
Transfer from one time-slot or same course session to another may be permitted only twice during the period of the course of which the student has enrolled.
</li>
<li>
The student will have to submit a written application to the counselor.
</li>
<li>
The transfer is subject to availability of seats.
</li>
</ul>
<ul>
<b>EVALUATION & EXAMINATION POLICY</b>
<li>
Student must appear for all periodic tests and complete all assignments given to them for the purpose of internal assessment.
</li>
<li>
Students are required to secure a minimum of 60% in all internal exams and projects to qualify for appearance in Final Exam.
</li>
<li>
Evaluation of internal tests and projects by the faculty shall be final and binding on the students. Any complaint in this regard will not be entertained.
</li>
<li>
Management retains the rights to debar any student from appearing for any examination at the center, if his/her attendance is below 75% or internal test, project performance is below 40%.
</li>
<li>
An examination is considered to be ample if it counts for 60 percent or more of the total marks, no resit is allowed in this case.
</li>
<li>
Center has the right to reschedule or cancel the exam in case of any technical or unforeseen issue.
</li>
<li>
When an exam has been scheduled, all students must attempt it and no exemptions may be allowed.
</li>
<li>
Students are required to display their ID cards in center premises.
</li>
<li>
Any unauthorized material found during exams will result in failure and can be barred from next exam too.
</li>
<li>
Students are expected to arrive at least 15 minutes before the exam start.
</li>
</ul>
<ul>
<b>EXAM REATTEMPTS</b>
<li>
A student is allowed only 2 attempts to clear an exam.
</li>
<li>
Student needs a minimum of 60% marks to pass the exam.
</li>
<li>
If student failed to appear for exam, It will be considered as attempt and failed, In such case student can try second attempt (if available).
</li>
<li>
Student need to pay additional exam fee for second attempt as applicable. Being absent from exam will incur resit fee for 1st reattempt.
</li>
<li>
All subsequent attempts after first will incur resit fee.
</li>
<li>
If student is not successful in second attempt of exam also in that case he will be issued with Participants Certificate (Not Merit Certificate).
</li>
<li>
Center reserves right to bar a student to appear for exam, if the total fees is not paid, however if students commit paying of dues before exam and failed to settle the account till one day before exam, in that case center can bar him/her for appearing the exam and it will be considered as attempt.
</li>
</ul>
<ul>
<b>FEE POLICY</b>
<li>
Fee is due on the 5th of each month.        
</li>
<li>
The Training Fee will be paid on monthly basis.
</li>
<li>
A late fee of Rs 50 per day or more can be charged against payments beyond the date specified by the Center.
</li>
<li>
Any fee once paid is not refundable or transferable to another course or student.
</li>
<li>
NEST reserves the right to change the fee and charges at any time.
</li>
<li>
Students who do not pay their fees regularly on time may be asked to leave the course by the management.
</li>
<li>
In case the student seeks readmission he/she has to pay the readmission fees.
</li>
</ul>
<ul>
<b>GENERAL</b>
<li>
On admission the student will be issued an Identity Card, the student would be required to carry it while within Center Premises and present it when required.
</li>
<li>
Students are required to observe decorum while attending the course.
</li>
<li>
All the rules pertaining to use of Lab & Center infrastructure should be observed.
</li>
<li>
The academic or course material provided by the center is for the exclusive use of the student only and the same should not be transferred, assigned or sold to any other person. Students violating this rule are liable for action under the copyright law or any other law presently enforced at that time.
</li>
<li>
Center management shall fix a schedule for lectures and arrange practical's the way it considers best and would expect the students to adhere to this schedule. Management reserves the rights to reschedule, postponement of lectures or laboratory sessions as needed.
</li>
<li>
While the management ensure high standard of training knowdedge of trainers may or may not have knowledge in certain areas.
</li>
<li>
Center will not be responsible for the loss or damage of any personal student belongings in or outside the NEST center.
</li>
</ul>
<ul>
<b>CHANGE AND COMPLIANCE WITH THE CODE OF CONDUCT</b>
<li>
NEST reserves the right to change, delete or add to its rules, regulations and/or schedules.
</li>
<li>
Students are liable to be dismissed or suspended at the discretion of the management if any of the terms of this Code of Conduct are violated, either in letter or spirit.
</li>
</ul>
<p>Note: The court of Mumbai will have exclusive jurisdiction to adjudicate any dispute arising under or in connection with this code of conduct.</p>
<table border="0" width="100%" >
			<tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
				<td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
				<td>&nbsp;</td>
            </tr>
			<tr>
				<td style="float : left">
					
				</td>
				<td></td>
				<td style="float : right;padding-right:100px">
					<b>Candidate Sign.</b>
				</td>
				
			</tr>
		</table>
</body>
</head>
</html>
