<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        body, p, td {
            font-size: 16pt;
            font-family: "Calibri";
        }

        h1,h2,h3,h5 {
            margin-top: 0;
            margin-bottom: 0;
        }

        .CenterText {
            text-align: center;
        }

        .RightText {
            text-align: right;
        }

        .TopText {
            vertical-align: top;
        }

        .DoubleBottomBorder td {
            border-bottom: 1px solid black;
            width: 25%;
        }

        .PayslipBox {
            margin-top: 20px;
            border: solid 2px gray;
            padding: 10px;
        }

            .PayslipBox table {
                width: 100%;
                border-style: none;
                border-collapse: collapse;
                border-width: 0;
            }

                .PayslipBox table td, .PayslipBox p {
                    font-size: 15pt;
                }
    </style>
</head>
<body style="padding-left:50px">
    <br />
    <br />
    <!-- Pay Statement Header -->
    <table border="0" width="100%">
        <tr>
            <td class="TopText" width="20%">
                <img src="c:\inetpub\vhosts\nidantech.org\httpdocs\batchmonitoring\Content\images\NEST.jpg" style="height: 172px; width: 250px;" />
				<!-- <img src="E:\NidanWorkArea\NidanERP\source\Nidan\Nidan\Content\images\NEST.jpg" style="height: 172px; width: 250px;" /> -->
            </td>
            <td class="CenterText TopText" width="60%">
                <h2>NIDAN TECHNOLOGIES PVT.LTD.</h2>
				<h5>Corporate Office: 3rd Floor, Manjula Arcade, Gokhle Road, Naupada, Thane (West) - 400 602.</h5>
				<h5>Branch Office: @Model.CentreAddress</h5>
                <br />
                <b>TAX INVOICE</b>
            </td>
            <td class="TopText RightText" width="20%">
				<img src="c:\inetpub\vhosts\nidantech.org\httpdocs\batchmonitoring\Content\images\Nidan.jpg" style="height: 172px; width: 292px;" />
				<!-- <img src="E:\NidanWorkArea\NidanERP\source\Nidan\Nidan\Content\images\Nidan.jpg" style="height: 172px; width: 292px;" /> -->
			</td>
        </tr>
    </table>
    <br />
	<table border="0" width="100%">
		<tr>
			<td style="float : left">
                <b>Invoice Date : @Model.PaymentDate</b>
            </td>
			<td></td>
            <td style="float : right">
				<b>Invoice No. : @Model.InvoiceNumber</b>
			</td>
			
				<tr>
			<td style="float : left">
                <b>State : @Model.State</b>
            </td>
			<td align="center">
                <b>State Code : @Model.GstStateCode</b>
            </td>
            <td style="float : right">
                <b>GSTIN : @Model.Gstin</b>
            </td>
	</table>
    <!-- Address & Date -->

    <div class="PayslipBox">
        <table border="0">
            <tr>
                <td style="font-weight: bold">STUDENT DETAILS</td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>Candidate Name :</td>
                            <td>@Model.CandidateName</td>
                            <td>S/O D/O :</td>
                            <td>@Model.FatherName</td>
                        </tr>
                        <tr>
                            <td>Address :</td>
                            <td>@Model.CandidateAddress</td>
							
                        </tr>
                        <tr>
                            <td>Contact No :</td>
                            <td>@Model.MobileNumber</td>
							<td>EmailId :</td>
                           <td>@Model.EmailId</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="PayslipBox">
        <table border="0">
            <tr>
                <td><b>Fee Type :</b></td>
                <td>@Model.FeeTypeName - @Model.InstallmentNumber</td>
                <td></td>
            </tr>
            <tr>
                <td>Course Name :</td>
                <td>@Model.CourseName</td>
            </tr>
            <tr>
                <td>Course Duration :</td>
                <td>@Model.CourseDuration Hours.</td>
            </tr>
            <tr>
                <!-- <td> -->
                    <!-- Total Course Fees : @Model.TotalCourseFee -->
                <!-- </td> -->
				
                <td>
                    Recieved Amount : @Model.RecievedAmount
                </td>
				<td>
					Payment Mode : @Model.PaymentMode
				</td>
                <td></td>
            </tr>
			@if(Model.PaymentMode=="Cheque")
			{
				<tr>
					<td>
						Bank Name : @Model.BankName
					</td>
					
					<td>
						Cheque Date : @Model.ChequeDate
					</td>
					<td>
						Cheque Number : @Model.ChequeNumber
					</td>
				</tr>
			}
            <tr>
                <!-- <td> -->
                    <!-- Receipt Date : @Model.PaymentDate -->
                <!-- </td> -->
                <!-- <td> -->
                    <!-- Receipt No. : @Model.InvoiceNumber -->
                <!-- </td> -->
                <td>
					Total Installment Allowed : @Model.TotalInstallment
				</td>
            </tr>
        </table>
    </div>
	<div class="PayslipBox">
        <table border="1">
            <tr>
                <th>Sr No.</th>
				<th>Name Of Product/Service</th>
				<th>HSN/ACS</th>
				<th>QTY</th>
				<th>Amount</th>
			</tr>
			<tr>
			<td>1</td>
			<td>Commeracial Training & Coaching Services</td>
			<td>999293</td>
			<td>1</td>
			<td>@Model.RecievedAmount</td>
			</tr>
        </table>
	<p style=" margin-top:0%">Exempted services as per Notification No. 12/2017 Sr.No.69.</p>
    </div>
	<div class="PayslipBox">
        <table border="0">
            <tr>
                <td style="font-weight: bold,border:none">Total Invoice Amount In Words</td>
				<td></td>
				<td style="border-bottom:1pt solid black;border-left:1pt solid black;border-top:1pt solid black;border-right:1pt solid black;">Total Amount Before Tax : @Model.RecievedAmount</td>
			</tr>
			<tr>
			<td>@Model.RupeesInWords</td>
			<td></td>
			<td  style="border-bottom:1pt solid black;border-left:1pt solid black;border-right:1pt solid black;">Add : CGST :</td>
			</tr>
			<tr>
			<td></td>
			<td></td>
			<td  style="border-bottom:1pt solid black;border-left:1pt solid black;border-right:1pt solid black;">Add : SGST :</td>
			</tr>
			<tr>
			<td></td>
			<td></td>
			<td  style="border-bottom:1pt solid black;border-left:1pt solid black;border-right:1pt solid black;">Add : IGST :</td>
			</tr>
			<tr>
			<td></td>
			<td></td>
			<td  style="border-bottom:1pt solid black;border-left:1pt solid black;border-right:1pt solid black;">Tax Amount : GST :</td>
			</tr>
			<tr>
			<td></td>
			<td></td>
			<td  style="border-bottom:1pt solid black;border-left:1pt solid black;border-right:1pt solid black;">Total Amount After Tax : @Model.RecievedAmount</td>
			</tr>
        </table>
    </div>
    <div class="PayslipBox">
        <p><b>Please Note: If any student discontinued the course for any reason, course fee paid by student will not be refundable in any circumstances.</b></p>
        <table border="0">
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td align="center">
                    <b>Candidate Sign.</b>
                </td>
                <td align="center">
                    <b>Authorized Sign.</b>
                </td>
                <td align="center">
                    <b>Branch Manager Sign.</b>
                </td>
            </tr>
        </table>
    </div>
	<p style=" margin-top:0%">This is computer generated receipt.</p>
</body>
</html>