<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITemplateServiceV1100" />
        <binding name="BasicHttpBinding_IEmailService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:814/TemplateService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITemplateServiceV1100" contract="TemplateServiceReference.ITemplateServiceV1100" name="BasicHttpBinding_ITemplateServiceV1100" />
      <endpoint address="http://localhost:807/EmailService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmailService" contract="EmailServiceReference.IEmailService" name="BasicHttpBinding_IEmailService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>