@using Nidan.Extensions
@{
    ViewBag.Title = "Admission";
}
<div ng-controller="EnquiryController as model">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Admissions <small></small>
            </h3>
        </div>
        @*<div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" ng-model="searchField" ng-keyup="$event.keyCode == 13 && model.searchEnquiry(searchField)" class="form-control" placeholder="Search for Enquiry...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="model.searchEnquiry(searchField)" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>*@
    </div>
    @if (User.IsInAnyRoles("Admin"))
    {
        <div class="row">
            <div class="col-xs-12">
                <a class="btn btn-app" href="@Url.Action("Create", "Admission")">
                    <i class="fa fa-user"></i>Commercial
                </a>
                <a class="btn btn-app" href="@Url.Action("Create", "Admission")">
                    <i class="fa fa-user"></i>Government
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
               
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Admissions<small></small>
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                        <div class="row">
                            <div class="col-xs-12">
                                @Html.Partial("Pagination/_pageSize")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <table wt-responsive-table class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                    <thead>
                                    <tr role="row">
                                        <th ng-click="model.order('Salutation')" ng-class="model.orderClass('Salutation')">Salutation</th>
                                        <th ng-click="model.order('FirstName')" ng-class="model.orderClass('FirstName')">First Name</th>
                                        <th ng-click="model.order('LastName')" ng-class="model.orderClass('LastName')">Last Name</th>
                                        <th ng-click="model.order('Mobile')" ng-class="model.orderClass('Mobile')">Mobile</th>
                                        <th ng-click="model.order('EmailId')" ng-class="model.orderClass('EmailId')">Email Id</th>
                                        <th ng-click="model.order('AdmissionDate')" ng-class="model.orderClass('AdmissionDate')">Admission Date</th>
                                        @*<th ng-click="model.order('EnquiryStatus')" ng-class="model.orderClass('EnquiryStatus')">Enquiry Status</th>*@
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="admission in model.admissions" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled || model.viewAdmission(admission.AdmissionId)">
                                        <td><span ng-bind="admission.Salutation"></span></td>
                                        <td><span ng-bind="admission.FirstName"></span></td>
                                        <td><span ng-bind="admission.LastName"></span></td>
                                        <td><span ng-bind="admission.Mobile"></span></td>
                                        <td><span ng-bind="admission.EmailId"></span></td>
                                        <td><span ng-bind="admission.AdmissionDate|date : format : shortDate"></span></td>
                                        @* <td><span ng-bind="person.EnquiryStatus"></span></td>*@
                                        <td>
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="$event.originalEvent.ngClickHandled = true">
                                                    <i class="fa fa-chevron-down"></i>
                                                </a>
                                                <ul class="dropdown-menu slidedown">
                                                    @if (User.IsInAnyRoles("Admin"))
                                                    {
                                                        <li>
                                                            <a style="cursor: pointer;" ng-href="/Admission/Edit/{{admission.AdmissionId}}">
                                                                Edit
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a style="cursor: pointer;" ng-bootbox-confirm="Are you sure, you want to delete Admission {{admission.FirstName}}" ng-bootbox-confirm-action="model.deleteAdmission(person.AdmissionId)" ng-bootbox-confirm-action-cancel="" ng-click="$event.originalEvent.ngClickHandled = true;">
                                                                Delete
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("Pagination/_pagination")
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label ng-bind="model.searchMessage"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Confirmation</h2>
                </div>

                <div class="modal-body">
                    <input type="hidden" ng-model='model.AdmissionId' />
                    Are you sure, you want to delete Admission <span ng-bind="model.FirstName"></span> ?
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="model.modalOk()" id="btnOK" class="btn btn-success" style="margin-bottom: 0">Ok</button>
                    <button type="button" id="btnCancel" class="btn btn-success" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>