@using Nidan.Extensions
@{
    ViewBag.Title = "Admission";
}

<div ng-controller="AdmissionController as model" ng-init="model.initialise()">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Admissions <small></small>
            </h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" ng-model="searchField" ng-keyup="$event.keyCode == 13 && model.searchAdmission(searchField)" class="form-control" placeholder="Search for Admission...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="model.searchAdmission(searchField)" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Search<small></small>
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-1">
                                    <div class="form-group">
                                        <label>From Date</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <input type="text" ng-model="fromDate" class="form-control col-md-7 col-xs-12 date">
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="form-group">
                                        <label>To Date</label>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <input type="text" ng-model="toDate" class="form-control col-md-7 col-xs-12 date">
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="form-group">
                                        <label></label>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <button type="button" ng-click="model.searchAdmissionByDate(fromDate,toDate)" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                        <div class="row">
                            <div class="col-xs-12">
                                @Html.Partial("Pagination/_pageSize")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <table wt-responsive-table class="table table-striped table-bordered jambo_table table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                    <thead>
                                        <tr role="row">
                                            @if (User.IsInAnyRoles("SuperAdmin"))
                                            {
                                                <th>Centre</th>
                                            }
                                            <th ng-click="model.order('AdmissionDate')" ng-class="model.orderClass('AdmissionDate')">Admission Date</th>
                                            <th ng-click="model.order('CandidateName')" ng-class="model.orderClass('CandidateName')">Candidate Name</th>
                                            <th ng-click="model.order('BatchName')" ng-class="model.orderClass('BatchName')">Batch</th>
                                            <th ng-click="model.order('TotalFee')" ng-class="model.orderClass('TotalFee')">Total Fees</th>
                                            <th ng-click="model.order('PaidAmount')" ng-class="model.orderClass('PaidAmount')">Paid Amount</th>
                                            <th>Pending Amount</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="admission in model.admissions" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled || model.viewAdmission(admission.AdmissionId)">
                                            @if (User.IsInAnyRoles("SuperAdmin"))
                                            {
                                                <td><span ng-bind="admission.CentreName"></span></td>
                                            }
                                            <td><span ng-bind="admission.AdmissionDate|date : format : shortDate"></span></td>
                                            <td><span ng-bind="admission.CandidateName"></span></td>
                                            <td>
                                                <span ng-bind="admission.BatchName"></span>
                                                <button ng-if="admission.BatchName==null" type="button" class="btn btn-round btn-warning btn-xs">Batch Not Assigned</button>
                                            </td>
                                            <td><i class="fa fa-inr"></i> <span ng-bind="admission.TotalFee"></span></td>
                                            <td><i class="fa fa-inr"></i> <span ng-bind="admission.PaidAmount"></span></td>
                                            @*<td><span ng-bind="admission.Registration.CandidateFee.Particulars"></span></td>*@
                                            <td>
                                                 <button ng-if="admission.PendingAmount==0.00" type="button"  class="btn btn-round btn-success btn-xs">Fully Paid</button>
                                                <span ng-if="admission.PendingAmount!=0.00" class="fa fa-inr" ng-bind="admission.PendingAmount"></span>
                                            </td>
                                            <td>
                                                <div class="btn-group pull-right">
                                                    <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="$event.originalEvent.ngClickHandled = true">
                                                        <i class="fa fa-chevron-down"></i>
                                                    </a>
                                                    <ul class="dropdown-menu slidedown">
                                                        @if (User.IsInAnyRoles("Admin","SuperAdmin"))
                                                        {
                                                            <li>
                                                                <a style="cursor: pointer;" ng-href="/Admission/View/{{admission.AdmissionId}}">
                                                                    View
                                                                </a>
                                                            </li>
														}
														@if (User.IsInAnyRoles("Admin"))
														{
                                                            <li ng-if="admission.BatchName==null">
                                                                <a style="cursor: pointer;" ng-href="/Admission/AssignBatch/{{admission.AdmissionId}}">
                                                                    Assign Batch
                                                                </a>
                                                            </li>
                                                        }
                                                        @if (User.IsInAnyRoles("Admin","SuperAdmin"))
                                                        {
                                                            <li>
                                                                <a style="cursor: pointer;" ng-href="/Admission/Download/{{admission.AdmissionId}}">
                                                                    Download
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("Pagination/_pagination")
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label ng-bind="model.searchMessage"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(function () {

            var daterangepickerOptions = {
                autoApply: true,
                singleDatePicker: true,
                showDropdowns: true,
                showCustomRangeLabel: false,
                opens: 'left',
                //minDate: moment(),
                //maxDate: moment().add('2', 'days').format('DD MMMM YYYY'),
                onSelect: function () {
                    selectedDate = moment().format('DD MMMM YYYY');
                },
                locale: {
                    "format": "DD MMMM YYYY"
                }
            };

            jQuery(function () {
                jQuery(".date").daterangepicker(daterangepickerOptions);
                $('.date').val(moment().format('DD MMMM YYYY'));
                $(".date").on('apply.daterangepicker', function (ev, picker) {
                    $(this).val(picker.startDate.format('DD MMMM YYYY'));
                });
            });
        });

     
    

    </script>
}
