@using Nidan.Extensions
@{
    ViewBag.Title = "Module";
}

<div ng-controller="ModuleController as model">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Modules <small></small>
            </h3>
        </div>
        @*<div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" ng-model="searchField" ng-keyup="$event.keyCode == 13 && model.searchEnquiry(searchField)" class="form-control" placeholder="Search for Enquiry...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="model.searchEnquiry(searchField)" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>*@
    </div>
    @if (User.IsInAnyRoles("Admin","SuperAdmin"))
    {
        <div class="row">
            <div class="col-xs-12">
                <a class="btn btn-app" href="@Url.Action("Create", "Module")">
                    <i class="fa fa-user"></i> Create
                </a>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                @*<div class="x_title">
                        <h2>
                            Rooms<small></small>
                        </h2>
                        <div class="clearfix"></div>
                    </div>*@
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                        <div class="row">
                            <div class="col-xs-12">
                                @Html.Partial("Pagination/_pageSize")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <table wt-responsive-table class="table table-striped table-bordered jambo_table table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                    <thead>
                                        <tr role="row">
                                            <th ng-click="model.order('Course.Name')" ng-class="model.orderClass('Course.Name')">Course Name</th>
                                            <th ng-click="model.order('Name')" ng-class="model.orderClass('Name')">Modules</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="module in model.modules | orderBy:'ModuleId'" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled || model.viewModule(module.ModuleId)">
                                            <td><span ng-bind="module.Course.Name"></span></td>
                                            <td><span ng-bind="module.Name"></span></td>
                                            <td>
                                                <div class="btn-group pull-right">
                                                    <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="$event.originalEvent.ngClickHandled = true">
                                                        <i class="fa fa-chevron-down"></i>
                                                    </a>
                                                    <ul class="dropdown-menu slidedown">
                                                        @if (User.IsInAnyRoles("Admin","SuperAdmin"))
                                                        {
                                                            <li>
                                                                <a style="cursor: pointer;" ng-href="/Module/Edit/{{module.ModuleId}}">
                                                                    Edit
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("Pagination/_pagination")
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label ng-bind="model.searchMessage"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>