 <li>
    <a><i class="fa fa-user"></i> Mobilization <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a href='@Url.Action("Index", "GovernmentMobilization")'>Govt Mobilization</a></li>
    </ul>
 </li>
