@using Nidan.Extensions
@{
    ViewBag.Title = "Batch";
}
<div ng-controller="BatchController as model">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Batches <small></small>
            </h3>
        </div>
        @*<div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" ng-model="searchField" ng-keyup="$event.keyCode == 13 && model.searchEnquiry(searchField)" class="form-control" placeholder="Search for Enquiry...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="model.searchEnquiry(searchField)" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>*@
    </div>

    @if (User.IsInAnyRoles("Admin"))
    {
        <div class="row">
            <div class="col-xs-12">
                <a class="btn btn-success btn-lg" href="@Url.Action("Create", "Batch")">
                    <i class="fa fa-group"></i> Create
                </a>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Search<small></small>
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-1">
                                    <div class="form-group">
                                        <label>From Date</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <input type="text" ng-model="fromDate" class="form-control col-md-7 col-xs-12 date">
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="form-group">
                                        <label>To Date</label>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <input type="text" ng-model="toDate" class="form-control col-md-7 col-xs-12 date">
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="form-group">
                                        <label></label>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <button type="button" ng-click="model.searchBatchByDate(fromDate,toDate)" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                        <div class="row">
                            <div class="col-xs-12">
                                @Html.Partial("Pagination/_pageSize")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <table wt-responsive-table class="table table-striped table-bordered jambo_table table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                    <thead>
                                    <tr role="row">
                                        @if (User.IsInAnyRoles("SuperAdmin"))
                                        {
                                            <th>Centre</th>
                                        }
                                        <th ng-click="model.order('Name')" ng-class="model.orderClass('Name')">Name</th>
                                        <th ng-click="model.order('Course.Name')" ng-class="model.orderClass('Course.Name')">Course</th>
                                        <th ng-click="model.order('BatchStartDate')" ng-class="model.orderClass('BatchStartDate')">Batch Start Date</th>
                                        <th ng-click="model.order('BatchEndDate')" ng-class="model.orderClass('BatchEndDate')">Batch End Date</th>
                                        <th ng-click="model.order('AssessmentDate')" ng-class="model.orderClass('AssessmentDate')">Assesment Date</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="batch in model.batches" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled || model.viewBatch(batch.BatchId)">
                                        @if (User.IsInAnyRoles("SuperAdmin"))
                                        {
                                            <td><span ng-bind="batch.Centre.Name"></span></td>
                                        }
                                        <td><span ng-bind="batch.Name"></span></td>
                                        <td><span ng-bind="batch.Course.Name"></span></td>
                                        <td><span ng-bind="batch.BatchStartDate|date : format : shortDate"></span></td>
                                        <td><span ng-bind="batch.BatchEndDate|date : format : shortDate"></span></td>
                                        <td><span ng-bind="batch.AssessmentDate|date : format : shortDate"></span></td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="$event.originalEvent.ngClickHandled = true">
                                                    <i class="fa fa-chevron-down"></i>
                                                </a>
                                                <ul class="dropdown-menu slidedown">
                                                    @if (User.IsInAnyRoles("Admin"))
                                                    {
                                                        <li>
                                                            <a style="cursor: pointer;" ng-href="/Batch/Edit/{{batch.BatchId}}">
                                                                Edit
                                                            </a>
                                                        </li>
                                                    }
                                                    @if (User.IsInAnyRoles("Admin","SuperAdmin"))
                                                    {
                                                        <li>
                                                            <a style="cursor: pointer;" ng-href="/Batch/View/{{batch.BatchId}}">
                                                                View
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("Pagination/_pagination")
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label ng-bind="model.searchMessage"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
    $(function () {

        var daterangepickerOptions = {
            autoApply: true,
            singleDatePicker: true,
            showDropdowns: true,
            showCustomRangeLabel: false,
            opens: 'left',
            //minDate: moment(),
            //maxDate: moment().add('2', 'days').format('DD MMMM YYYY'),
            onSelect: function () {
                selectedDate = moment().format('DD MMMM YYYY');
            },
            locale: {
                "format": "DD MMMM YYYY"
            }
        };

        jQuery(function () {
            jQuery(".date").daterangepicker(daterangepickerOptions);
            $('.date').val(moment().format('DD MMMM YYYY'));
            $(".date").on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD MMMM YYYY'));
            });
        });
    });
    </script>
}

