@using Nidan.Business.Extensions
@using Nidan.Extensions
@{
    ViewBag.Title = "Expense";
    var startOfWeekDate = DateTime.UtcNow.StartOfWeek(DayOfWeek.Monday);
    var endOfWeekDate = startOfWeekDate.AddDays(5);
}

<div ng-controller="ExpenseController as model" ng-init="model.initialise()">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Expenses<small></small>
            </h3>
        </div>
        @*<div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" ng-model="searchField" ng-keyup="$event.keyCode == 13 && model.searchEnquiry(searchField)" class="form-control" placeholder="Search for Enquiry...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="model.searchEnquiry(searchField)" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>*@
    </div>
    @if (User.IsInAnyRoles("Admin", "SuperAdmin"))
    {
        <div class="row">
            <div class="col-xs-12">
                <a class="btn btn-success btn-lg" href="@Url.Action("Create", "Expense")">
                    <i class="fa fa-inr"></i> Create
                </a>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                @*<div class="x_title">
                        <h2>
                            Rooms<small></small>
                        </h2>
                        <div class="clearfix"></div>
                    </div>*@
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                        <div class="row">
                            <div class="col-xs-12">
                                @Html.Partial("Pagination/_pageSize")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <table wt-responsive-table class="table table-striped table-bordered jambo_table table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                    <thead>
                                        <tr role="row">
                                            @if (User.IsInAnyRoles("SuperAdmin"))
                                            {
                                                <th ng-click="model.order('CentreName')" ng-class="model.orderClass('CentreName')">Centre</th>
                                            }
                                            <th ng-click="model.order('ExpenseGeneratedDate')" ng-class="model.orderClass('ExpenseGeneratedDate')">Generated Date</th>
                                            <th ng-click="model.order('VoucherNumber')" ng-class="model.orderClass('VoucherNumber')">Voucher Number</th>
                                            <th ng-click="model.order('CashMemo')" ng-class="model.orderClass('CashMemo')">Cash Memo</th>
                                            <th ng-click="model.order('TotalDebitAmount')" ng-class="model.orderClass('TotalDebitAmount')">Debit Amount</th>
                                            <th ng-click="model.order('PaidTo')" ng-class="model.orderClass('PaidTo')">Paid To</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="expense in model.expenses | orderBy:'CreatedDate'" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled">
                                            @if (User.IsInAnyRoles("SuperAdmin"))
                                            {
                                                <td><span ng-bind="expense.Centre.CentreCode"></span></td>
                                            }
                                            <td><span ng-bind="expense.ExpenseGeneratedDate|date : format : shortDate"></span></td>
                                            <td><span ng-bind="expense.VoucherNumber"></span></td>
                                            <td><span ng-bind="expense.CashMemoNumbers"></span></td>
                                            <td><span class="fa fa-inr" ng-bind="expense.DebitAmount"></span></td>
                                            <td><span ng-bind="expense.PaidTo"></span></td>
                                            <td>
                                                <div class="btn-group pull-right">
                                                    <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="$event.originalEvent.ngClickHandled = true">
                                                        <i class="fa fa-chevron-down" ng-click="model.dateInCurrentWeek(expense.ExpenseId)"></i>
                                                    </a>
                                                    <ul class="dropdown-menu slidedown">
                                                        @if (User.IsInAnyRoles("SuperAdmin"))
                                                        {
                                                            <li>
                                                                <a style="cursor: pointer;" ng-href="/Expense/Edit/{{expense.ExpenseId}}">
                                                                    Edit
                                                                </a>
                                                            </li>
                                                        }
                                                        @if (User.IsInAnyRoles("Admin", "SuperAdmin"))
                                                        {
                                                            <li ng-if="model.isDateInCurrentWeek">
                                                                @*ng-if="expense.CreatedDate >= {{@startOfWeekDate}} && expense.CreatedDate <= {{@endOfWeekDate}}"*@
                                                                <a style="cursor: pointer;" ng-href="/Expense/Edit/{{expense.ExpenseId}}">
                                                                    Edit
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a style="cursor: pointer;" ng-href="/Expense/Download/{{expense.ExpenseId}}">
                                                                    Download
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("Pagination/_pagination")
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label ng-bind="model.searchMessage"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Confirmation</h2>
                </div>

                <div class="modal-body">
                    <input type="hidden" ng-model='model.ExpenseId' />
                    Are you sure, you want to delete Expense <span ng-bind="model.ExpenseId"></span> ?
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="model.modalOk()" id="btnOK" class="btn btn-success" style="margin-bottom: 0">Ok</button>
                    <button type="button" id="btnCancel" class="btn btn-success" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#myModal").modal('show');
    });
</script>
<body>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Petty Cash Terms & Conditions</h3>
                </div>
                <div class="modal-body">
                    <ul>
                        <li><h4>Daily Petty Cash entries is compulsory on the Portal.</h4></li>
                        <li><h4>Expense vouchers will be managed on weekly basis, i.e. Monday to Saturday.</h4></li>
                        <li><h4>Entered vouchers will be able to edit within a week time.</h4></li>
                        <li><h4>Single voucher should not be above Rs.999/-.</h4></li>
                        <li><h4>Expenses made on Sundays, should be entered on Monday without fail.</h4></li>
                        <li><h4>All Branches are authorized to spend only Rs.2000/- limit of expenses per month/per expense head.</h4></li>
                        <li><h4>If any expense head is exceeding the limit of Rs.2000/- singly or cumulatively in a month, branch
                            Managers are bound to take pre-approval from respective heads before action.</h4></li>
                        <li><h4>Respective Branches will send their requirement &amp; budget estimation sheet stating purpose for which funds
              are required in upcoming days to be sent at least 7 days in advance through mail, so that funds can be
              managed efficiently.</h4></li>
                        <li><h4>Expense vouchers &amp; supporting documents should reach corporate office on weekly basis, i.e. every
           Monday.</h4></li>
                        <li><h4>If failed to dispatch within 7 days of expense, the same amount will be debited/charged to branch
                            manager‘s account under defaulting accounting guidelines.</h4></li>
                        <li><h4>For any doubt/clarification, kindly contact us on Email: accounts@nidantech.com</h4></li>
                    </ul>
                    <form>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal">I Have Read All Terms & Conditions</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>