
@{
    ViewBag.Title = "TermsAndCondition";
}

<div class="page-title">
    <div class="title_left">
        <h3>
            Petty Cash Terms And Conditions<small></small>
        </h3>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <ul>
                        <li><h4>Daily Petty Cash entries are compulsory on the Portal.</h4></li>
                        <li><h4>Expense vouchers will be managed on weekly basis, i.e. Monday to Saturday.</h4></li>
                        <li><h4>Entered vouchers will be able to edit within a week time.</h4></li>
                        <li><h4>Single voucher should not be above Rs.999/-.</h4></li>
                        <li><h4>Expenses made on Sundays, should be entered on Monday without fail.</h4></li>
                        <li><h4>All Branches are authorized to spend only Rs.2000/- limit of expenses per month/per expense head.</h4></li>
                        <li><h4>If any expense head is exceeding the limit of Rs.2000/- singly or cumulatively in a month, branch
                            Managers are bound to take pre-approval from respective heads before action.</h4></li>
                        <li><h4>Respective Branches will send their requirement &amp; budget estimation sheet stating purpose for which funds
                            are required in upcoming days to be sent at least 7 days in advance through mail, so that funds can be
                            managed efficiently.</h4></li>
                        <li><h4>Expense vouchers &amp; supporting documents should reach corporate office on weekly basis, i.e. every
                            Monday.</h4></li>
                        <li><h4>If failed to dispatch within 7 days of expense, the same amount will be debited/charged to branch
                            manager‘s account under defaulting accounting guidelines.</h4></li>
                        <li><h4>For any doubt/clarification, kindly contact us on Email: accounts@nidantech.com</h4></li>
                    </ul>
                    @*<div class="pull-right">
                        <button type="submit" class="btn btn-primary" href="/Expense/Index">I Have Read All Terms & Conditions</button>
                    </div>*@
                    <div class="pull-right">
                        <a href="@Url.Action("Index")" class="btn btn-primary" role="button">
                            I Have Read All Terms & Conditions&nbsp;<span class="fa fa-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>