@using Nidan.Extensions
@{
    ViewBag.Title = "Index";
}
<div ng-controller="CandidatePrePlacementActivityController as model" ng-init="model.initialise()">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Candidate Preplacement Activity<small></small>
            </h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" ng-model="searchField" ng-keyup="$event.keyCode == 13 && model.searchCandidatePrePlacementActivity(searchField)" class="form-control" placeholder="Search for Pre Placement...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="model.searchCandidatePrePlacementActivity(searchField)" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Search<small></small>
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-1">
                                    <div class="form-group">
                                        <label>Batch</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <select class="form-control col-md-7 col-xs-12" ng-model="item">
                                            <option value="0">Select Batch</option>
                                            <option data-ng-repeat="batch in model.batches" ng-model="model.BatchId" value="{{batch.BatchId}}">{{batch.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <input type="button" ng-click="model.retrieveCandidatePrePlacementActivityByBatchId(item)" value="Search" class="btn btn-primary">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.Partial("Pagination/_pageSize")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <table wt-responsive-table class="table table-striped table-bordered jambo_table table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                    <thead>
                                    <tr role="row">
                                        @if (User.IsInAnyRoles("SuperAdmin"))
                                        {
                                            <th ng-click="model.order('CentreName')" ng-class="model.orderClass('CentreName')">Centre</th>
                                        }
                                        <th ng-click="model.order('CandidateName')" ng-class="model.orderClass('CandidateName')">Candidate</th>
                                        <th ng-click="model.order('IsSoftSkill')" ng-class="model.orderClass('IsSoftSkill')">Soft Skill</th>
                                        <th ng-click="model.order('IsCvMaking')" ng-class="model.orderClass('IsCvMaking')">Cv Making</th>
                                        <th ng-click="model.order('IsInterviewTechnique')" ng-class="model.orderClass('IsInterviewTechnique')">Interview Technique</th>
                                        <th ng-click="model.order('IsTechnicalKnowledge')" ng-class="model.orderClass('IsTechnicalKnowledge')">Technical Knowledge</th>
                                        <th ng-click="model.order('IsMockInterview')" ng-class="model.orderClass('IsMockInterview')">Mock Interview</th>
                                        <th ng-click="model.order('IsIndustryVisit')" ng-class="model.orderClass('IsIndustryVisit')">Industry Visit</th>
                                        <th ng-click="model.order('IsOjtOrLiveProject')" ng-class="model.orderClass('IsOjtOrLiveProject')">Ojt/LiveProject</th>
                                        <th ng-click="model.order('IsCandidateProfiling')" ng-class="model.orderClass('IsCandidateProfiling')">Profiling</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="candidatePrePlacementActivity in model.candidatePrePlacementActivities" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled">
                                        @if (User.IsInAnyRoles("SuperAdmin"))
                                        {
                                            <td><span ng-bind="candidatePrePlacementActivity.CentreName"></span></td>
                                        }
                                        <td><span ng-bind="candidatePrePlacementActivity.CandidateName"></span></td>
                                        <td>
                                            <span ng-if="candidatePrePlacementActivity.IsSoftSkill">Yes</span>
                                            <span ng-if="!candidatePrePlacementActivity.IsSoftSkill">No</span>
                                        </td>
                                        <td>
                                            <span ng-if="candidatePrePlacementActivity.IsCvMaking">Yes</span>
                                            <span ng-if="!candidatePrePlacementActivity.IsCvMaking">No</span>
                                        </td>
                                        <td>
                                            <span ng-if="candidatePrePlacementActivity.IsInterviewTechnique">Yes</span>
                                            <span ng-if="!candidatePrePlacementActivity.IsInterviewTechnique">No</span>
                                        </td>
                                        <td>
                                            <span ng-if="candidatePrePlacementActivity.IsTechnicalKnowledge">Yes</span>
                                            <span ng-if="!candidatePrePlacementActivity.IsTechnicalKnowledge">No</span>
                                        </td>
                                        <td>
                                            <span ng-if="candidatePrePlacementActivity.IsMockInterview">Yes</span>
                                            <span ng-if="!candidatePrePlacementActivity.IsMockInterview">No</span>
                                        </td>
                                        <td>
                                            <span ng-if="candidatePrePlacementActivity.IsIndustryVisit">Yes</span>
                                            <span ng-if="!candidatePrePlacementActivity.IsIndustryVisit">No</span>
                                        </td>
                                        <td>
                                            <span ng-if="candidatePrePlacementActivity.IsOjtOrLiveProject">Yes</span>
                                            <span ng-if="!candidatePrePlacementActivity.IsOjtOrLiveProject">No</span>
                                        </td>
                                        <td>
                                            <span ng-if="candidatePrePlacementActivity.IsCandidateProfiling">Yes</span>
                                            <span ng-if="!candidatePrePlacementActivity.IsCandidateProfiling">No</span>
                                        </td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="$event.originalEvent.ngClickHandled = true">
                                                    <i class="fa fa-chevron-down"></i>
                                                </a>
                                                <ul class="dropdown-menu slidedown">
                                                    @if (User.IsInAnyRoles("Admin","SuperAdmin"))
                                                    {
                                                        <li>
                                                            <a style="cursor: pointer;" ng-if="candidatePrePlacementActivity.CandidatePrePlacementActivityId==null" ng-href="/CandidatePrePlacementActivity/Create/{{candidatePrePlacementActivity.AdmissionId}}">
                                                                Pre-Placement
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a style="cursor: pointer;" ng-if="candidatePrePlacementActivity.CandidatePrePlacementActivityId!=null" ng-href="/CandidatePrePlacementActivity/Edit/{{candidatePrePlacementActivity.CandidatePrePlacementActivityId}}">
                                                                Pre-Placement
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a style="cursor: pointer;" ng-href="/CandidateFinalPlacement/Create/{{candidatePrePlacementActivity.AdmissionId}}">
                                                                Final Placement
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a style="cursor: pointer;" ng-if="candidatePrePlacementActivity.IsPostPlacementDone=='No'" ng-href="/CandidatePostPlacement/Create/{{candidatePrePlacementActivity.AdmissionId}}">
                                                                Post Placement
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("Pagination/_pagination")
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label ng-bind="model.searchMessage"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*@section scripts {
    <script>
        $(function () {

            var daterangepickerOptions = {
                autoApply: true,
                singleDatePicker: true,
                showDropdowns: true,
                showCustomRangeLabel: false,
                opens: 'left',
                //minDate: moment(),
                //maxDate: moment().add('2', 'days').format('DD MMMM YYYY'),
                onSelect: function () {
                    selectedDate = moment().format('DD MMMM YYYY');
                },
                locale: {
                    "format": "DD MMMM YYYY"
                }
            };

            jQuery(function () {
                jQuery(".date").daterangepicker(daterangepickerOptions);
                $('.date').val(moment().format('DD MMMM YYYY'));
                $(".date").on('apply.daterangepicker', function (ev, picker) {
                    $(this).val(picker.startDate.format('DD MMMM YYYY'));
                });
            });
        });
    </script>
}*@