@using Nidan.Extensions

@{
    ViewBag.Title = "Stock Report";
}

<div ng-controller="ReportController as model">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Stock Report <small></small>
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Search<small></small>
                    </h2>
                    <div class="clearfix"></div>
                </div>
                @using (Html.BeginForm("DownloadStockCSVByDate", "Report", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="x_content">
                        <p class="text-muted font-13 m-b-30">
                        </p>
                        <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-1">
                                        <div class="form-group">
                                            <label>From Date</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <input id="fromDate" name="fromDate" type="text" ng-model="fromDate" class="form-control col-md-7 col-xs-12 date">
                                        </div>
                                    </div>
                                    <div class="col-lg-1">
                                        <div class="form-group">
                                            <label>To Date</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <input id="toDate" name="toDate" type="text" ng-model="toDate" class="form-control col-md-7 col-xs-12 date">
                                        </div>
                                    </div>
                                    <div class="col-lg-1">
                                        <div class="form-group">
                                            <label></label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <button type="button" ng-click="model.searchStockByDate(fromDate,toDate)" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" value="Download CSV" class="btn btn-success"><i class="fa fa-download"> </i>  Download CSV</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                        <div class="row">
                            <div class="col-xs-12">
                                @Html.Partial("Pagination/_pagination")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <table wt-responsive-table class="table table-striped table-bordered jambo_table table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                    <thead>
                                        <tr role="row">
                                            @if (User.IsInAnyRoles("SuperAdmin"))
                                            {
                                                <th>Centre</th>
                                            }
                                            <th>Stock Purchase Date</th>
                                            <th>Stock Type</th>
                                            <th>Inventory Item</th>
                                            <th>Quantity</th>
                                            <th>Supplier</th>
                                            <th>Bill Number</th>
                                            <th>Amount</th>
                                            <th>Issued Date</th>
                                            <th>Issued Quantity</th>
                                            <th>Issued To Person</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="report in model.reports | orderBy:'DateofPurchaseDate'" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled">
                                            @if (User.IsInAnyRoles("SuperAdmin"))
                                            {
                                                <td><span ng-bind="report.CentreName"></span></td>
                                            }
                                            <td><span ng-bind="report.StockPurchaseDate|date : format : shortDate"></span></td>
                                            <td><span ng-bind="report.StockTypeName"></span></td>
                                            <td><span ng-bind="report.InventoryItem"></span></td>
                                            <td><span ng-bind="report.Quantity"></span></td>
                                            <td><span ng-bind="report.Supplier"></span></td>
                                            <td><span ng-bind="report.BillNumber"></span></td>
                                            <td><span ng-bind="report.Amount"></span></td>
                                            <td><span ng-bind="report.IssuedDate|date : format : shortDate"></span></td>
                                            <td><span ng-bind="report.IssuedQuantity"></span></td>
                                            <td><span ng-bind="report.IssuedToPerson"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("Pagination/_pagination")
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label ng-bind="model.searchMessage"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(function () {

            var daterangepickerOptions = {
                autoApply: true,
                singleDatePicker: true,
                showDropdowns: true,
                showCustomRangeLabel: false,
                opens: 'left',
                //minDate: moment(),
                //maxDate: moment().add('2', 'days').format('DD MMMM YYYY'),
                onSelect: function () {
                    selectedDate = moment().format('DD MMMM YYYY');
                },
                locale: {
                    "format": "DD MMMM YYYY"
                }
            };

            jQuery(function () {
                jQuery(".date").daterangepicker(daterangepickerOptions);
                $('.date').val(moment().format('DD MMMM YYYY'));
                $(".date").on('apply.daterangepicker', function (ev, picker) {
                    $(this).val(picker.startDate.format('DD MMMM YYYY'));
                });
            });
        });
    </script>
}
