@using Nidan.Extensions
@model Nidan.Models.EventViewModel
<div role="tabpanel" class="tab-pane fade active in" id="tab_content_brainstorming" aria-labelledby="home-tab">
    <p>
        Brain Storming
    </p>
</div>

<div ng-controller="BrainstormingController as model" ng-init="model.initialise(@Model.Event.EventId)">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        @*<div class="row">
                                <div class="col-xs-12">
                                    @Html.Partial("Pagination/_pageSize")
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="col-xs-12">
                                <table wt-responsive-table class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                    <thead>
                                        <tr role="row">
                                            <th>Sr No.</th>
                                            <th>Before Planning Answer/Discuss These Question</th>
                                            <th>Disscussion Completed Y/N</th>
                                            <th>Reference Detail</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="brainstorming in model.brainstormings" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled">
                                            <td><span ng-bind="brainstorming.BrainstormingId"></span></td>
                                            <td><span ng-bind="brainstorming.BeforePlanningAnswerDiscussTheseQuestion"></span></td>
                                            <td>
                                                @*@Html.RadioButtonFor(model => model.EventBrainstorming.Brainstorming.BeforePlanningAnswerDiscussTheseQuestion, "Yes")&nbsp; Yes &nbsp;
                                                    @Html.RadioButtonFor(model => model.EventBrainstorming.Brainstorming.BeforePlanningAnswerDiscussTheseQuestion, "No") No*@

                                                <input type="radio" class="radio" ng-model='brainstorming.DisscussionCompletedYesNo' id="brainStormingDisscussion{{brainstorming.BrainstormingId}}" value="Yes" name="brainStormingDisscussion{{brainstorming.BrainstormingId}}" >Yes
                                                <input type="radio" class="radio" ng-model='brainstorming.DisscussionCompletedYesNo' id="brainStormingDisscussion_{{brainstorming.BrainstormingId}}" value="No" name="brainStormingDisscussion{{brainstorming.BrainstormingId}}">No
                                            </td>
                                            <td>
                                                @*@Html.EditorFor(model => model.EventBrainstorming.RefernceDetailDocument)*@
                                                <textarea ng-model='brainstorming.ReferenceDetailDocument' id="referenceDetailTextBox{{brainstorming.BrainstormingId}}" name="referenceDetailTextBox{{brainstorming.BrainstormingId}}"></textarea>
                                            </td>
                                    </tbody>
                                </table>
                                @*@Html.Partial("Pagination/_pagination")*@
                            </div>
                        </div>
                        <div class="pull-right">
                            <div class="form-group">
                                @*ng-if="model.paging.totalPages==model.paging.page"*@
                                <div class="pull-right">
                                    <button type="button" class="btn btn-success" ng-click="model.saveEventBrainStorming()">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
