@model Nidan.Models.BatchPrePlacementViewModel

@*@Html.HiddenFor(model => model.CandidatePrePlacement.BatchPrePlacementId)*@
@Html.HiddenFor(model => model.CandidatePrePlacementReport.CandidatePrePlacementId)
<div class="modal fade" id="candidatePrePlacementReportModal" ng-hide="model.ShowModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Pre-Placement Activity Report</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    @*<div class="col-lg-12">*@
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Actual Start Date</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="txtActualStartDate" type="text" class="form-control date" />
                        </div>
                        <br />
                        <br />
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Actual End Date</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="txtActualEndDate" type="text" class="form-control date" />
                        </div>
                        <br />
                        <br />
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Mark Obtained</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="txtMarkObtained" type="text" class="form-control" />
                        </div>
                        <br />
                        <br />
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Total Mark</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="txtTotalMark" type="text" class="form-control" />
                        </div>
                        <br />
                        <br />
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Remark</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="txtRemark" type="text" class="form-control" />
                        </div>
                        <br />
                        <br />
                    </div>

                    <div class="modal-footer">
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                            <div class="form-group">
                                <div class="control-label col-md-14 col-sm-14 col-xs-12">
                                    <div class="pull-right col-md-12">
                                        <div class="col-md-9">
                                            <button type="submit" id="btnSaveCandidatePrePlacementReport" ng-click="model.saveCandidatePrePlacementReport(model.candidatePrePlacementId,model.studentCode)" class="btn btn-success" data-dismiss="modal">Save</button>
                                        </div>
                                        <div class="pull-right col-md-3">
                                            <button type="button" id="btnCancel" class="btn btn-info" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

