@using Nidan.Extensions
@model Nidan.Models.ActivityTaskViewModel

<div ng-controller="ActivityTaskController as model" ng-init="model.retrieveActivityTasksByActivityId(@Model.Activity.ActivityId)">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                @*<div class="x_title">
                        <h2>
                            Mobilizations <small></small>
                        </h2>
                        <div class="clearfix"></div>
                    </div>*@
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.Partial("Pagination/_pageSize")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <table wt-responsive-table class="table table-striped table-bordered jambo_table table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                    <thead>
                                        <tr role="row">
                                            @*@if (User.IsInAnyRoles("SuperAdmin"))
                                                {
                                                    <th ng-click="model.order('CentreName')" ng-class="model.orderClass('CentreName')">Centre</th>
                                                }*@
                                            <th ng-click="model.order('ActivityTaskId')" ng-class="model.orderClass('ActivityTaskId')">Task Name</th>
                                            <th ng-click="model.order('StartDate')" ng-class="model.orderClass('StartDate')">Start Date</th>
                                            <th ng-click="model.order('EndDate')" ng-class="model.orderClass('EndDate')">End Date</th>
                                            <th ng-click="model.order('AssignTo')" ng-class="model.orderClass('AssignTo')">Assign To</th>
                                            <th ng-click="model.order('CreatedBy')" ng-class="model.orderClass('CreatedBy')">Assign By</th>
                                            <th ng-click="model.order('NumberOfDays')" ng-class="model.orderClass('NumberOfDays')">No.Of Days</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="activityTask in model.activityTasks" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled">
                                            @*@if (User.IsInAnyRoles("SuperAdmin"))
                                                {
                                                    <td><span ng-bind="mobilizer.CentreName"></span></td>
                                                }*@
                                            <td><span ng-bind="activityTask.Name"></span></td>
                                            <td><span ng-bind="activityTask.StartDate|date : format : shortDate"></span></td>
                                            <td><span ng-bind="activityTask.EndDate|date : format : shortDate"></span></td>
                                            <td><span ng-bind="activityTask.AssignToName"></span></td>
                                            <td><span ng-bind="activityTask.CreatedByName"></span></td>
                                            <td><span ng-bind="activityTask.NumberOfDays"></span></td>
                                            <td>
                                                <div class="btn-group pull-right">
                                                    <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="$event.originalEvent.ngClickHandled = true">
                                                        <i class="fa fa-chevron-down"></i>
                                                    </a>
                                                    <ul class="dropdown-menu slidedown">
                                                        @*@if (User.IsInAnyRoles("SuperAdmin"))
                                                        {*@
                                                            <li>
                                                                <a style="cursor: pointer;" ng-href="/ActivityTask/Edit/{{activityTask.ActivityTaskId}}">
                                                                    Edit
                                                                </a>
                                                            </li>
                                                            @*<li>
                                                                <a style="cursor: pointer;" ng-href="/ActivityTask/View/{{activityTask.ActivityTaskId}}">
                                                                    View
                                                                </a>
                                                            </li>*@
                                                            <li>
                                                                <a style="cursor: pointer;" ng-click="model.deleteActivityTask(activityTask.ActivityTaskId,activityTask.ActivityId)">
                                                                    Delete
                                                                </a>
                                                            </li>
                                                        @*}*@
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("Pagination/_pagination")
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label ng-bind="model.searchMessage"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>