@using Nidan.Extensions
<div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                @*<div class="x_title">
                        <h2>    
                            Rooms<small></small>
                        </h2>
                        <div class="clearfix"></div>
                    </div>*@
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                        <div class="row">
                            <div class="col-xs-12">
                                @Html.Partial("Pagination/_pageSize")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <table wt-responsive-table class="table table-striped table-bordered jambo_table table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                    <thead>
                                        <tr role="row">
                                            @if (User.IsInAnyRoles("SuperAdmin"))
                                            {
                                                <th ng-click="model.order('CentreName')" ng-class="model.orderClass('CentreName')">Centre</th>
                                            }
                                            <th ng-click="model.order('CreatedDate')" ng-class="model.orderClass('CreatedDate')">Created Date</th>
                                            <th ng-click="model.order('Project')" ng-class="model.orderClass('Project')">Project</th>
                                            <th ng-click="model.order('ExpenseHeaderId')" ng-class="model.orderClass('ExpenseHeaderId')">Expense Head</th>
                                            <th ng-click="model.order('Unit')" ng-class="model.orderClass('Unit')">Unit</th>
                                            <th ng-click="model.order('Rate')" ng-class="model.orderClass('Rate')">Rate per Unit</th>
                                            <th ng-click="model.order('DebitAmount')" ng-class="model.orderClass('DebitAmount')">Debit Amount</th>
                                            <th ng-click="model.order('PaidTo')" ng-class="model.orderClass('PaidTo')">Paid To</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="otherFee in model.otherFees | orderBy:'CreatedDate'" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled">
                                            @if (User.IsInAnyRoles("SuperAdmin"))
                                            {
                                                <td><span ng-bind="otherFee.Centre.Name"></span></td>
                                            }
                                            <td><span ng-bind="otherFee.CreatedDate|date : format : shortDate"></span></td>
                                            <td><span ng-bind="otherFee.Project.Name"></span></td>
                                            <td><span ng-bind="otherFee.ExpenseHeader.Name"></span></td>
                                            <td><span ng-bind="otherFee.Unit"></span></td>
                                            <td><span class="fa fa-inr" ng-bind="otherFee.Rate"></span></td>
                                            <td><span class="fa fa-inr" ng-bind="otherFee.DebitAmount"></span></td>
                                            <td><span ng-bind="otherFee.PaidTo"></span></td>
                                            <td>
                                                <div class="btn-group pull-right">
                                                    <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="$event.originalEvent.ngClickHandled = true">
                                                        <i class="fa fa-chevron-down"></i>
                                                    </a>
                                                    <ul class="dropdown-menu slidedown">
                                                        @if (User.IsInAnyRoles("Admin","SuperAdmin"))
                                                        {
                                                            <li>
                                                                <a style="cursor: pointer;" ng-click="$event.originalEvent.ngClickHandled = true;model.editOtherFee(otherFee.OtherFeeId)">
                                                                    Edit
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a style="cursor: pointer;" ng-click="$event.originalEvent.ngClickHandled = true;model.deleteOtherFee(otherFee.CentreId,otherFee.OtherFeeId,otherFee.CashMemo)">
                                                                    Delete
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("Pagination/_pagination")
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label ng-bind="model.searchMessage"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>