@using Nidan.Extensions

@{
    ViewBag.Title = "CourseInstallment";
}

<div ng-controller="CourseInstallmentController as model">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Course Installments <small></small>
            </h3>
        </div>
        *<div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" ng-model="searchField" ng-keyup="$event.keyCode == 13 && model.searchCourseInstallment(searchField)" class="form-control" placeholder="Search for Course Installment...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="model.searchCourseInstallment(searchField)" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    @if (User.IsInAnyRoles("Admin"))
    {
        <div class="row">
            <div class="col-xs-12">
                <a class="btn btn-app" href="@Url.Action("Create", "CourseInstallment")">
                    <i class="fa fa-user"></i> Create
                </a>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Course Installments <small></small>
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.Partial("Pagination/_pageSize")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <table wt-responsive-table class="table table-striped table-bordered jambo_table table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                    <thead>
                                        <tr role="row">
                                            <th ng-click="model.order('Name')" ng-class="model.orderClass('Name')">Name</th>
                                            <th ng-click="model.order('CourseId')" ng-class="model.orderClass('CourseId')">Course</th>
                                            <th ng-click="model.order('Fee')" ng-class="model.orderClass('Fee')">Fee</th>
                                            <th ng-click="model.order('DownPayment')" ng-class="model.orderClass('DownPayment')">Down Payment</th>
                                            <th ng-click="model.order('LumpsumAmt')" ng-class="model.orderClass('LumpsumAmt')">Lumpsum Amount</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="courseInstallment in model.courseInstallments" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled || model.viewCourseInstallment(courseInstallment.CourseInstallmentId)">
                                            <td><span ng-bind="courseInstallment.Name"></span></td>
                                            <td><span ng-bind="courseInstallment.Course.Name"></span></td>
                                            <td><span ng-bind="courseInstallment.Fee"></span></td>
                                            <td><span ng-bind="courseInstallment.DownPayment"></span></td>
                                            <td><span ng-bind="courseInstallment.LumpsumAmt"></span></td>
                                            <td>
                                                <div class="btn-group pull-right">
                                                    <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="$event.originalEvent.ngClickHandled = true">
                                                        <i class="fa fa-chevron-down"></i>
                                                    </a>
                                                    <ul class="dropdown-menu slidedown">
                                                        @if (User.IsInAnyRoles("Admin"))
                                                        {
                                                            <li>
                                                                <a style="cursor: pointer;" ng-href="/CourseInstallment/Edit/{{courseInstallment.CourseInstallmentId}}">
                                                                    Edit
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("Pagination/_pagination")
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label ng-bind="model.searchMessage"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

