@using Nidan.Entity
@using Nidan.Extensions
@model Nidan.Models.BatchAttendanceViewModel


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            @*<div class="x_title">
                    <h2>
                        FollowUps <small></small>
                    </h2>
                    <div class="clearfix"></div>
                </div>*@
            <div class="x_content">
                <p class="text-muted font-13 m-b-30">
                </p>
                <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.Partial("Pagination/_pageSize")
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table class="table table-striped jambo_table bulk_action">
                                    <thead>
                                    <tr class="headings">
                                        <th><input type="checkbox" ng-model="model.allItemsSelected" ng-change="model.selectAll()"></th>
                                        @if (User.IsInAnyRoles("SuperAdmin"))
                                        {
                                            <th ng-click="model.order('CentreName')" ng-class="model.orderClass('CentreName')">Centre</th>
                                        }
                                        <th ng-click="model.order('CandidateName')" ng-class="model.orderClass('CandidateName')">Candidate Name</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="batchAttendance in model.batchAttendances" class="even pointer" ng-class="{selected: batchAttendance.IsPresent}">
                                        <td>
                                            <input type="checkbox" ng-model="batchAttendance.IsPresent" ng-change="model.selectEntity()" ng-checked="batchAttendance.Direction!='Null'">
                                        </td>
                                        @if (User.IsInAnyRoles("SuperAdmin"))
                                        {
                                            <td><span ng-bind="batchAttendance.CentreName"></span></td>
                                        }
                                            @*<td><span ng-bind="batchAttendance.Registration.Enquiry.Title"></span> <span ng-bind="batchAttendance.Registration.Enquiry.FirstName"></span> <span ng-bind="batchAttendance.Registration.Enquiry.MiddleName"></span> <span ng-bind="batchAttendance.Registration.Enquiry.LastName"></span></td>*@<td><span ng-bind="batchAttendance.CandidateName"></span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @Html.Partial("Pagination/_pagination")
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label ng-bind="model.searchMessage"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/icheck/icheck.min.js"></script>
}