@using Nidan.Extensions
@{
    ViewBag.Title = "Index";
}
<div ng-controller="BatchAttendanceController as model" ng-init="model.retrieveBatches()">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Attendances<small></small>
            </h3>
        </div>
        @*<div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" ng-model="searchField" ng-keyup="$event.keyCode == 13 && model.searchTrainer(searchField)" class="form-control" placeholder="Search for trainer...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="model.searchTrainer(searchField)" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>*@
    </div>
    @if (User.IsInAnyRoles("Admin", "SuperAdmin"))
    {
        <div class="row">
            <div class="col-xs-12">
                <a class="btn btn-success btn-lg" href="@Url.Action("Create", "BatchAttendance")">
                    <i class="fa fa-calendar"></i> Attendance
                </a>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Search<small></small>
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-1">
                                    <div class="form-group">
                                        <label>Batch</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <select class="form-control col-md-7 col-xs-12" ng-model="item">
                                            <option value="0">Select Batch</option>
                                            <option data-ng-repeat="batch in model.batches" value="{{batch.BatchId}}">{{batch.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <br />

                                <div class="col-lg-1">
                                    <div class="form-group">
                                        <label>From Date</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <input type="text" ng-model="fromDate" class="form-control col-md-7 col-xs-12 date">
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <div class="form-group">
                                        <label>To Date</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <input type="text" ng-model="toDate" class="form-control col-md-7 col-xs-12 date">
                                    </div>
                                </div>

                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <input type="button" ng-click="model.searchBatchAttendanceByDate(fromDate,toDate,item)" value="Search" class="btn btn-primary">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.Partial("Pagination/_pageSize")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <table wt-responsive-table class="table table-striped table-bordered jambo_table table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                    <thead>
                                        <tr role="row">
                                            @if (User.IsInAnyRoles("SuperAdmin"))
                                            {
                                                <th ng-click="model.order('CentreName')" ng-class="model.orderClass('CentreName')">Centre</th>
                                            }
                                            <th ng-click="model.order('AttendanceDate')" ng-class="model.orderClass('AttendanceDate')">Attendance Date</th>
                                            <th ng-click="model.order('CandidateName')" ng-class="model.orderClass('CandidateName')">Candidate Name</th>
                                            <th ng-click="model.order('InTime')" ng-class="model.orderClass('InTime')">In-Time</th>
                                            <th ng-click="model.order('OutTime')" ng-class="model.orderClass('OutTime')">Out-Time</th>
                                            <th ng-click="model.order('Topic')" ng-class="model.orderClass('Topic')">Topic</th>
                                            <th ng-click="model.order('IsPresent')" ng-class="model.orderClass('IsPresent')">Attendance</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="bachtAttendance in model.batchAttendances" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled">
                                            @if (User.IsInAnyRoles("SuperAdmin"))
                                            {
                                                <td><span ng-bind="bachtAttendance.CentreName"></span></td>
                                            }
                                            <td><span ng-bind="bachtAttendance.AttendanceDate|date : format : shortDate"></span></td>
                                            <td><span ng-bind="bachtAttendance.CandidateName"></span></td>
                                            <td><span ng-bind="bachtAttendance.InTime"></span></td>
                                            <td><span ng-bind="bachtAttendance.OutTime"></span></td>
                                            <td><span ng-bind="bachtAttendance.Topic"></span></td>
                                            <td>
                                                <button ng-if="!bachtAttendance.IsPresent" type="button" class="btn btn-round btn-danger btn-xs">Absent</button>
                                                <button ng-if="bachtAttendance.IsPresent" type="button" class="btn btn-round btn-success btn-xs">Present</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("Pagination/_pagination")
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label ng-bind="model.searchMessage"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(function () {

            var daterangepickerOptions = {
                autoApply: true,
                singleDatePicker: true,
                showDropdowns: true,
                showCustomRangeLabel: false,
                opens: 'left',
                //minDate: moment(),
                //maxDate: moment().add('2', 'days').format('DD MMMM YYYY'),
                onSelect: function () {
                    selectedDate = moment().format('DD MMMM YYYY');
                },
                locale: {
                    "format": "DD MMMM YYYY"
                }
            };

            jQuery(function () {
                jQuery(".date").daterangepicker(daterangepickerOptions);
                $('.date').val(moment().format('DD MMMM YYYY'));
                $(".date").on('apply.daterangepicker', function (ev, picker) {
                    $(this).val(picker.startDate.format('DD MMMM YYYY'));
                });
            });
        });
    </script>
}