@model Nidan.Models.CourseViewModel

<div ng-controller="CourseInstallmentController as model">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Fee Break-Ups<small></small>
                    </h2>
                    <div ng-if="model.courseInstallments.length==0">
                        @*<script>
                            $('#courseInstallmentGrid').hide();
                        </script>*@
                        <a id="createCourseFeeBreakUpButton" href="@Url.Action("Create", "CourseInstallment")" class="btn btn-info" role="button">
                            Create
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="courseInstallmentGrid" ng-show="model.courseInstallments.length>0" class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                        <div class="row">
                            <div class="col-xs-12">
                                @Html.Partial("Pagination/_pageSize")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <table wt-responsive-table class="table table-striped table-bordered jambo_table table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                    <thead>
                                    <tr role="row">
                                        <th ng-click="model.order('Fee')" ng-class="model.orderClass('Fee')">Fee</th>
                                        <th ng-click="model.order('DownPayment')" ng-class="model.orderClass('DownPayment')">Down Payment</th>
                                        <th ng-click="model.order('LumpsumAmount')" ng-class="model.orderClass('LumpsumAmount')">Lumpsum</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="courseInstallment in model.courseInstallments | orderBy:'CourseInstallmentId' " class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled">
                                        <td><span ng-bind="courseInstallment.Fee"></span>.00</td>
                                        <td><span ng-bind="courseInstallment.DownPayment"></span>.00</td>
                                        <td><span ng-bind="courseInstallment.LumpsumAmount"></span>.00</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("Pagination/_pagination")
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label ng-bind="model.searchMessage"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        //if ($("#createCourseFeeBreakUpButton:hidden")) {
        //    $('#courseInstallmentGrid').show();
        //}
        //if ($("#createCourseFeeBreakUpButton:visible")) {
        //    $('#courseInstallmentGrid').hide();
        //}
    </script>
}