@using Nidan.Extensions

@{
    ViewBag.Title = "Index";
}

<div ng-controller="AssesmentController as model" ng-init="model.retrieveAssesments()">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Assesments  <small></small>
            </h3>
        </div>
    </div>
    @if (User.IsInAnyRoles("SuperAdmin"))
    {
        <div class="row">
            <div class="col-xs-12">
                <a class="btn btn-success btn-lg" href="@Url.Action("Create", "Assesment")">
                    <i class="fa fa-user"></i> Create
                </a>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                @*<div class="x_title">
                        <h2>
                            Trainers <small></small>
                        </h2>
                        <div class="clearfix"></div>
                    </div>*@
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.Partial("Pagination/_pageSize")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <table wt-responsive-table class="table table-striped table-bordered jambo_table table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                    <thead>
                                    <tr role="row">
                                        <th ng-click="model.order('CentreName')" ng-class="model.orderClass('CentreName')">Centre</th>
                                        <th ng-click="model.order('BatchName')" ng-class="model.orderClass('BatchName')">Batch</th>
                                        <th ng-click="model.order('AssesmentName')" ng-class="model.orderClass('AssesmentName')">Assesment Name</th>
                                        <th ng-click="model.order('AssesmentTypeName')" ng-class="model.orderClass('AssesmentTypeName')">Assesment Type</th>
                                        <th ng-click="model.order('AssesmentDate')" ng-class="model.orderClass('AssesmentDate')">Assesment Date</th>
                                        <th ng-click="model.order('AssesmentTime')" ng-class="model.orderClass('AssesmentTime')">Assesment Time</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="assesment in model.assesments" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled">
                                        <td><span ng-bind="assesment.CentreName"></span></td>
                                        <td><span ng-bind="assesment.BatchName"></span></td>
                                        <td><span ng-bind="assesment.AssesmentName"></span></td>
                                        <td><span ng-bind="assesment.AssesmentTypeName"></span></td>
                                        <td><span ng-bind="assesment.AssesmentDate|date : format : shortDate"></span></td>
                                        <td><span ng-bind="assesment.AssesmentTime"></span></td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="$event.originalEvent.ngClickHandled = true">
                                                    <i class="fa fa-chevron-down"></i>
                                                </a>
                                                <ul class="dropdown-menu slidedown">
                                                    @if (User.IsInAnyRoles("SuperAdmin"))
                                                    {
                                                        <li>
                                                            <a style="cursor: pointer;" ng-href="/Assesment/Edit/{{assesment.AssesmentId}}">
                                                                Assign Exam Set
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("Pagination/_pagination")
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label ng-bind="model.searchMessage"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

