@using Nidan.Extensions
@using Nidan.Extensions
@{
    ViewBag.Title = "Mobilization";
}
<div ng-controller="MobilizationController as model">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Mobilizations <small></small>
            </h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" ng-model="searchField" ng-keyup="$event.keyCode == 13 && model.searchMobilization(searchField)" class="form-control" placeholder="Search for mobilizer...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="model.searchMobilization(searchField)" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    @if (User.IsInAnyRoles("Admin"))
    {
        <div class="row">
            <div class="col-xs-12">
                <a class="btn btn-app" href="@Url.Action("Create", "Mobilization")">
                    <i class="fa fa-user"></i> Create
                </a>
                <a class="btn btn-app" href="@Url.Action("Upload", "Mobilization")">
                    <i class="fa fa-upload"></i> Upload
                </a>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Mobilizations <small></small>
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                @Html.Partial("Pagination/_pageSize")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <table wt-responsive-table class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="datatable-fixed-header_info">
                                    <thead>
                                    <tr role="row">
                                        <th ng-click="model.order('Name')" ng-class="model.orderClass('Name')">Name</th>
                                        <th ng-click="model.order('Mobile')" ng-class="model.orderClass('Mobile')">Mobile</th>
                                        <th ng-click="model.order('InterestedCourse')" ng-class="model.orderClass('InterestedCourse')">Interested Course</th>
                                        <th ng-click="model.order('Qualification.Name')" ng-class="model.orderClass('Qualification.Name')">Qualification</th>
                                        <th ng-click="model.order('GeneratedDate')" ng-class="model.orderClass('GeneratedDate')">Mobilized Date</th>
                                        <th ng-click="model.order('FollowUpDate')" ng-class="model.orderClass('FollowUpDate')">Follow-Up Date</th>
                                        <th ng-click="model.order('StudentLocation')" ng-class="model.orderClass('StudentLocation')">Student Location</th>
                                        <th ng-click="model.order('Close')" ng-class="model.orderClass('Close')">Mobilizer Status Closed</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="mobilizer in model.mobilizations" class="odd gradeX" ng-click="$event.originalEvent.ngClickHandled || model.viewMobilization(mobilizer.MobilizationId)">
                                        @*<td><span ng-cloak class="ng-cloak"><img class="avatar" ng-src="{{ person.Avatar.Url || '/Content/images/user.png' }}" alt="Avatar" title="avatar"></span><br /></td>*@
                                        <td><span ng-bind="mobilizer.Name"></span></td>
                                        <td><span ng-bind="mobilizer.Mobile"></span></td>
                                        <td><span ng-bind="mobilizer.Course.Name"></span></td>
                                        <td><span ng-bind="mobilizer.Qualification.Name"></span></td>
                                        <td><span ng-bind="mobilizer.GeneratedDate|date : format : shortDate"></span></td>
                                        <td><span ng-bind="mobilizer.FollowUpDate|date : format : shortDate"></span></td>
                                        <td><span ng-bind="mobilizer.StudentLocation"></span></td>
                                        <td><span ng-bind="mobilizer.Close"></span></td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <a class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="$event.originalEvent.ngClickHandled = true">
                                                    <i class="fa fa-chevron-down"></i>
                                                </a>
                                                <ul class="dropdown-menu slidedown">
                                                    @if (User.IsInAnyRoles("Admin"))
                                                    {
                                                        <li>
                                                            <a style="cursor: pointer;" ng-href="/Mobilization/Edit/{{mobilizer.MobilizationId}}">
                                                                Edit
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a style="cursor: pointer;" ng-href="/Enquiry/Create/{{mobilizer.MobilizationId}}">
                                                                Create Enquiry
                                                            </a>
                                                        </li>

                                                            @*<li >
                                                                <a style="cursor: pointer;" ng-bootbox-confirm="Are you sure, you want to archive Mobilizer {{mobilizer.Name}}" ng-bootbox-confirm-action="model.deleteAbsenceType(mobilizer.MobilizationId)" ng-bootbox-confirm-action-cancel="" ng-click="$event.originalEvent.ngClickHandled = true;">
                                                                    Archive
                                                                </a>
                                                            </li>*@
                                                    }
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @Html.Partial("Pagination/_pagination")
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label ng-bind="model.searchMessage"></label>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="modal fade" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Confirmation</h2>
                </div>
                <div class="modal-body">
                    <input type="hidden" ng-model='model.MobilizationId' />
                    Are you sure, you want to delete Mobilization <span ng-bind="model.MobilizationName"></span> ?
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="model.modalOk()" id="btnOK" class="btn btn-success" style="margin-bottom: 0">Ok</button>
                    <button type="button" id="btnCancel" class="btn btn-success" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
