<div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
    <ul uib-pagination total-items="model.paging.totalResults" ng-model="model.paging.page" max-size="5" items-per-page="model.paging.pageSize" class="pagination" boundary-links="true" rotate="false" ng-change="model.pageChanged()"></ul>
</div>