<div class="row">
    <div class="col-sm-5">
        @Html.Partial("Pagination/_pageInformation")
    </div>
    <div class="col-sm-7">
        @Html.Partial("Pagination/_pageButtons")
    </div>
</div>