<div class="dataTables_length" id="datatable_length">
    <label>
        Show
        <select name="datatable_length" class="form-control input-sm" ng-options="option for option in model.paging.pageSizeOptions" ng-model="model.paging.pageSize" ng-change="model.pageChanged()"></select> entries
    </label>
</div>