<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="NidanDatabase" connectionString="data source=localhost;initial catalog=HR;user id=sa;password=inland12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="data source=localhost;initial catalog=HR;user id=sa;password=inland12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>    
    <client xdt:Transform="Replace">
      <endpoint address="http://localhost:814/TemplateService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITemplateServiceV1100" contract="TemplateServiceReference.ITemplateServiceV1100" name="BasicHttpBinding_ITemplateServiceV1100" />
      <endpoint address="http://localhost:807/EmailService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmailService" contract="EmailServiceReference.IEmailService" name="BasicHttpBinding_IEmailService" />
    </client>
  </system.serviceModel>
</configuration>