<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="HRDatabase" connectionString="data source=TAGDB01;initial catalog=HR;user id=sa;password=inland12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="data source=TAGDB01;initial catalog=HR;user id=sa;password=inland12;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CacheTimeout" value="1440" />
    <add key="EmailDefaultFromAddress" value="donotreply@hr-elite.com" />
    <add key="OverrideEmailAddresses" value="" />
    <add key="DocumentRESTApiAddress" value="http://agukservices01:XXX/" />
    <add key="Username" value="admin" />
    <add key="Password" value="Admin123!" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />    
  </system.web>
  <system.serviceModel>    
    <client xdt:Transform="Replace">
      <endpoint address="http://agukservices01:814/TemplateService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITemplateServiceV1100" contract="TemplateServiceReference.ITemplateServiceV1100" name="BasicHttpBinding_ITemplateServiceV1100" />
      <endpoint address="http://agukservices01:807/EmailService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmailService" contract="EmailServiceReference.IEmailService" name="BasicHttpBinding_IEmailService" />
    </client>
  </system.serviceModel>
</configuration>